<h2 id="alert-note"></h2>
<br/>

<div style="margin-left:38%;">
  <%= form_tag reminders_path, method: 'get' do %>
    <p>
      <%= text_field_tag :keyword, params[:keyword], autofocus: true %>
      <%= submit_tag 'search', name: nil, style: 'width:70px;'%>
    </p>
  <% end %>
</div>


<%# if @current_user.role_cache == 'manager' %>
  <div style="text-align: right">
    Select Purchase File: <%= select_tag 'purchase_file', options_from_collection_for_select(@purchase_items, 'id', 'name') %>
    <%= link_to 'Add to List', 'javascript:void(0)', id: 'add_items_to_list', class: 'button-print', style: 'margin-left:80%;' %>
  </div>
<%# end %>
<br/>
<br/>
<table class="items_index list-table">
  <thead>
    <th>Sr#</th>
    <th>NAME</th>
    <th>Stock</th>
    <th>Expiry</th>
  </thead>
  <tbody>
    <% @items && @items.each_with_index do |item, index| %>
      <tr class="even">
        <td><%= index + 1 %></td>
        <td class="left">
          <%= item.name %>
        </td>
        <td id="pos-table-left-column-items" class="pos-table-left-column-items">
          <% if item.quantity.present? && item.quantity == 0 %>
            <div class="editmedone editme pointer no-select" style="background-color: red;">
              <%= item.try(:quantity) %>
            </div>
          <% else %>
            <div class="editmedone editme pointer no-select">
              <%= item.try(:quantity) %>
            </div>
          <% end %>  
        </td>
        <td id="pos-table-left-column-items" class="pos-table-left-column-items">
          <% if item.expiry_date.present? && item.expiry_date <= Date.today %>
            <div class="editmedone editme pointer no-select" style="background-color: red;">
              <%= item.try(:expiry_date) %>
            </div>
          <% elsif  item.expiry_date.present? && item.expiry_date <= Date.today + 1.month %>
            <div class="editmedone editme pointer no-select" style="background-color: yellow;color: black;">
              <%= item.try(:expiry_date) %>
            </div>
          <% else %>
            <div class="editmedone editme pointer no-select">
              <%= item.try(:expiry_date) %>
            </div>
          <% end %> 
        </td>
        <td>
          <% if @current_user.role_cache == 'manager' %>
            <%= link_to "Edit", edit_reminder_path(item)%> |
          <% end %>
          <%= check_box_tag 'add_to_list[]', item.id, false, class: 'items_to_list' %>
          <%#= link_to 'Add to List', 'javascript:void(0)', class: 'add_to_list', value: item.id %>
          <%# if @current_user.can(:edit_items) %>
            <%#= form_for item,:url=>reminder_path(item),:method=>:put do |f| %>
              <%#= f.text_field :quantity, style: "width: 50px;" %>
              <%#= f.date_select :expiry_date %> 
              <%#= f.submit t('helpers.submit.save'), style: "width: 55px;"%>
            <%# end %>  
          <%# end %>
        </td>
      </tr>
    <% end %>
  </tbody>  
</table>

<div class="pagination" align="center">
  <%= paginate @items if @items %>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('#add_items_to_list').click(function(){
      items_array   = []
      purchase_item = $('#purchase_file').val();
      $('.items_to_list:checkbox:checked').each(function() {
        items_array.push(this.value);
      });
//      medicos.herokuapp.com
      window.location.href = "http://essaa.herokuapp.com/list_items/item_added?item_ids=" + items_array + "&purchase_item_id=" + purchase_item;
    })
  })
</script>