<table class="items_index list-table">
  <thead>
    <th>Sr#</th>
    <th>NAME</th>
    <th>QUANTITY</th>
    <th>Expiry</th>
  </thead>
  <tbody>
    <% @items && @items.each_with_index do |item, index| %>
      <tr class="even">
        <td><%= index + 1 %></td>
        <td class="left">
          <%= item.name %>
        </td>
        <td id="pos-table-left-column-items" class="pos-table-left-column-items">
          <% if item.quantity.present? && item.quantity <= 5 %>
            <div class="editmedone editme pointer no-select" style="background-color: red;">
              <%= item.try(:quantity) %>
            </div>
          <% else %>
            <div class="editmedone editme pointer no-select">
              <%= item.try(:quantity) %>
            </div>
          <% end %>  
        </td>
        <td id="pos-table-left-column-items" class="pos-table-left-column-items">
          <% if item.expiry_date.present? && item.expiry_date <= Date.today + 5.day %>
            <div class="editmedone editme pointer no-select" style="background-color: red;">
              <%= item.try(:expiry_date) %>
            </div>
          <% else %>
            <div class="editmedone editme pointer no-select">
              <%= item.try(:expiry_date) %>
            </div>
          <% end %> 
        </td>
        <td>
          <%= link_to "Edit", edit_reminder_path(item)%>
          <%# if @current_user.can(:edit_items) %>
            <%#= form_for item,:url=>reminder_path(item),:method=>:put do |f| %>
              <%#= f.text_field :quantity, style: "width: 50px;" %>
              <%#= f.date_select :expiry_date %> 
              <%#= f.submit t('helpers.submit.save'), style: "width: 55px;"%>
            <%# end %>  
          <%# end %>
        </td>
      </tr>
    <% end %>
  </tbody>  
</table>