<script type="text/javascript">
  sr.data.pos_core.order = <%= raw @current_order.to_json %>;
  sr.data.pos_core.last_completed_order = <%= raw @last_completed_order.as_plugin_hash.to_json %>;

  <%
    items = []
    @current_order.order_items.each do |oi|
      items << oi.to_json
    end
  %>
  sr.data.pos_core.order_items = [<%= raw items.join(',') %>];
  $(function () {
    sr.fn.pos_core.updateOrder(sr.data.pos_core.order);
    sr.fn.pos_core.updateOrderItems(sr.data.pos_core.order_items);
  });


  $(document).ready(function(){
    thisTime = new Date()
    hours = thisTime.getHours()
    minutes = thisTime.getMinutes()
    seconds = thisTime.getSeconds()
    if (hours>12)
    {
      hours-=12
    }
    
    if(hours < 10)
      hours = '0'+hours;

    if(minutes < 10)
      minutes = '0'+minutes;  

    if(seconds < 10)
      seconds = '0'+seconds;

    $('#clock-div').jsclock(hours+':'+ minutes+':'+seconds);
  
  });

</script>

<%= render :partial => "menu", :locals => {:order => @current_order} %>
<%= render :partial => "buttons/popup", :layout => false %> 

<div class='clear'></div>

<div id="pos-table-left-column-items" class="pos-table-left-column-items"></div>

<%= render :partial => "shared/search" %>
<%= render :partial => "complete_order" %>
<%= render :partial => "last_orders" %>

<div style="background-color: red;width: 50%;margin-left: 25%;font-size: 30px;"><h3>Attention!! <br/> 5 days left to shutdown. Please recharge your account.</h3></div>
<div id="clock-div" style="font-size: 100px;">
</div>
<div>
  <% @date = Time.now %>
  <span style="font-size:100px;"><%= @date.strftime("#{@date.day}-#{@date.month}-%Y")%></span>
</div>