= stylesheet_link_tag 'invoice_default'
= stylesheet_link_tag 'invoice_default_print', :media => 'print'

- categories = @report['categories']
- taxes = @report['taxes']
- paymentmethods = @report['paymentmethods']
- paymentmethods_total = @report['paymentmethods_total']
- proforma_pmis = @report['proforma_pmis']
- proforma_pmis_total = @report['proforma_pmis_total']
- gift_cards_redeemed = @report['gift_cards_redeemed']
- gift_card_redeem_total = @report['gift_card_redeem_total']
- gift_cards_sold = @report['gift_cards_sold']
- gift_card_sales_total = @report['gift_card_sales_total']
- refund_order_items  =  @report['refund_order_items']
- aconto_order_items  =  @report['aconto_order_items']
- aconto_total  =  @report['aconto_total']
- revenue =   @report['revenue']
- transactions   = @report['transactions']
- transactions_sum   = @report['transactions_sum']
- calculated_drawer_amount =   @report['calculated_drawer_amount']
- categories_sum = @report['categories_sum']

= raw content_box_top(t("vendors.report_day.title"))


= form_tag "/vendors/report_day", :class => 'no-print', :id => 'date_range', :method => :get do
  %table.tools{ :width => '70%' }
    %tr
      %td{:align => :left, :width => "20%"}
        = label 'from', t('.from')
      %td{:align => :right}
        = select_date(@from, :prefix => 'from', :order => [:day,:month,:year])
    %tr
      %td{:align => :left}
        = label 'to', t('.to')
      %td{:align => :right}
        = select_date(@to, :prefix => 'to', :order => [:day,:month,:year])
    %tr
      %td{:align => :left}
        = label 'user_select', User.model_name.human
      %td{:align => :right}
        %select{:id => 'user_select', :name => 'user_id' }
          %option
          = options_from_collection_for_select(@users, 'id', 'username', params[:user_id])
    %tr
      %td
      %td{ :align => :right}
        = submit_tag t('orders.report.display'), :onclick => '$("#progress").show()', :id => 'display_report_day'
    %tr
      %td{:colspan => 2, :align => :center}
        = salor_icon(:a4print, {:onclick => 'sr.fn.salor_bin.showPrintDialog()'}, 40, t('menu.print_dialog'))
        = salor_icon(:thermal_printer, {:onclick => "sr.fn.salor_bin.printUrl(sr.data.session.cash_register.thermal_printer,'/vendors/render_report_day',decodeURIComponent($('#date_range').serialize()));" }, 40, t('.thermal'))
    %tr
      %td{:colspan => 2, :align => :center}= image_tag 'loader.gif', :id => 'progress', :style => 'display: none;'

.clear

.paper-invoice
  %h2== #{ t '.title' }: #{ l @from, :format => :just_day } - #{ l @to, :format => :just_day } | #{ @current_vendor.name } | #{ @user.name_with_username if @user }
  
  %p
    = l DateTime.now
    |
    == #{ t '.count_orders' }: #{ @report['count_orders'] }
    |
    == #{ t '.count_order_items' }: #{ @report['count_order_items'] }
    |
    = request.ip
    |
    = @current_user.username
    |
    = @current_register.name


  - [[:pos,'.sales'], [:neg,'.payments']].each do |i|
    - next if categories[i[0]].to_a.size.zero?
    %h3= t i[1]

    %table.striped-table2
      %tr
        %th.left{:style => 'width:50%'}= t '.sums_by_category'
        %th.right= t '.gross'
        %th.right= t '.net'
        %th.right= t '.tax'
      - categories[i[0]].to_a.each do |c|
        %tr
          %td.left= c[0].blank? ? t('printr.eod_report.no_category') : c[0]
          %td.right= humanized_money_with_symbol c[1][:gro]
          %td.right= humanized_money_with_symbol c[1][:net]
          %td.right= humanized_money_with_symbol c[1][:gro] - c[1][:net]

    %table.striped-table2
      %tr
        %th.left{:style => 'width:50%'}= t '.sums_by_tax_profile'
        %th.right= t '.gross'
        %th.right= t '.net'
        %th.right= t '.tax'
      - taxes[i[0]].to_a.each do |t|
        %tr
          %td.left= number_to_percentage t[0]
          %td.right= humanized_money_with_symbol t[1][:gro]
          %td.right= humanized_money_with_symbol t[1][:net]
          %td.right= humanized_money_with_symbol t[1][:gro] - t[1][:net]


  %h3= t '.revenue'
  .right
    %p
      == #{ t '.gross' }:
      %b== #{ humanized_money_with_symbol revenue[:gro] }
    %p
      == #{ t '.net' }:
      %b== #{ humanized_money_with_symbol revenue[:net] }
    %p
    %br/
    %br/
    - unless calculated_drawer_amount.zero?
      %p
        %b= t 'printr.eod_report.warning_drawer_amount_not_zero'      
 
