%div#invoice-header
  - @date = Time.now
  %span.invoice-header-span1{:style=> 'font-size: 14px'}= "#{@date.day}" + '-' + "#{@date.month}" + '-' + "#{@date.year}"
  / %span{:style => "margin-left: 34%;"}= "Invoice"
  %span.invoice-header-span2{:style=> 'font-size: 20px'}= "NaseemPharma"
%table.striped-table2
  %tr
    %th{ :style => 'width: 8px'}= t("activerecord.attributes.letter")
    %th{ :style => 'width: 100px'}= t("activerecord.attributes.name")
    %th{ :style => 'width: 8px'}= t("activerecord.attributes.price")
    %th{ :style => 'width: 8px'}= t("activerecord.attributes.quantity")
    %th{ :style => 'width: 20px'}= t("activerecord.attributes.total")
  - @report[:list_of_items_raw][item_start..item_end].each do |item|
    - formatted_item = format_item(item)
    %tr
      - formatted_item.each do |k,v|
        - next if k == :type
        %td{ :class => k }= v