/ we are on the last page
- unless params[:delivery_note] == "1"
  %table.striped-table2.has-total
    - if @order.is_proforma
      %tr
        %td{ :colspan => 4 }= t('printr.order_receipt.total').upcase
        %td.total=  @order.total.exchange_to(@ec)
    %tr
      %td{ :colspan => 4 }= t('activerecord.attributes.total').upcase
      - if @order.is_proforma then
        %td.total=  @order.amount_paid.exchange_to(@ec)
      - else
        %td.total=  @report[:total].exchange_to(@ec)